# **what?**
# The purpose of this workflow is to trigger CI to run for each
# on a regular cadence. This will also test core + common to prevent breaks.
# If the CI workflow fails, it will post to #dev-core-alerts to raise awareness.

# **why?**
# Ensures dbt-common is always shippable and not broken.
# Also, can catch any dependencies shifting beneath us that might
# introduce breaking changes (could also impact Cloud).

# **when?**
# Mainly on a schedule of 9:00, 13:00, 18:00 UTC everyday.
# Manual trigger can also test on demand

name: Scheduled Testing

on:
  schedule:
    - cron: '0 9,13,18 * * *' # 9:00, 13:00, 18:00 UTC

  workflow_dispatch: # for manual triggering

# no special access is needed
permissions: read-all

jobs:
  run_tests:
    uses: dbt-labs/actions/.github/workflows/release-branch-tests.yml@main
    with:
      workflows_to_run: '["ci_tests.yml", "build.yml", "ci_dbt_core_testing.yml"]'
    secrets: inherit
